body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
   sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.ph1{
   padding: 0 1rem;
}
.ph2{
   padding: 0 1rem;
}
.pv1{
   padding: 1rem 0;
}
.pv2{
   padding: 2rem 0;
}
.mh1{
   margin: 0 1rem;
}
.mh2{
   margin: 0 1rem;
}
.mpv1{
   margin: 1rem 0;
}
.mv2{
   margin: 2rem 0;
}
